*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    list-style: none;

}
body{
    background-color: rgb(7, 3, 3);
}
body h1{
color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
   
}

#alertmessage{
    margin-top: 30px; 
    font-style: italic; 
    font-size: 20px; 
    color: red;
}

#homepage{
    margin-top: 50px;
     background-color: black; 
     color: white; 
     padding: 15px; 
}

#startgameDIV{
    width: 40%;
    height: 30em;
    border: 0px solid gray;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    background-image: linear-gradient(to right, rgb(131, 53, 131), rgb(36, 11, 11), gray);
    color: white;
    border-radius: 20px;
    font-weight: 50px;
    display: flex;
    

   
}
#startgameDIV button{
    width: 10em;
    font-size: 1rem;
    height: 3em;
    margin: 10px;
    font-weight: bold;
}
#startgameDIV button:hover{
 background-color: black;
 color: white;
 box-shadow: 3px 3px 5px gray;
}

#questiondiv  {
    width: 40%;
    height: 30em;
    border: 0px solid gray;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left:50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(57, 57, 173),rgb(109, 49, 109),gray);
 border-radius: 20px;
 box-shadow: 0px 0px 5px white;
display: none;
}


#minuteleft{
    height: 90px;
    width: 90px;
    background-color: black;
    position: relative;
    left: 85%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 40px;
   flex-direction: column;

}
#minuteleft h6{
    font-size: 15px;
    margin-left: 10px;
}

#questiondiv p{
position: relative;
bottom: 40px;
margin-left: 20px;
font-size: 25px;
width: 80%; 
color: black;
}

#answerlist button{
    display: flex;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;

}
#questiondiv button:hover{
    background-color: rgb(19, 18, 18);
    color: white;
    opacity: 0.5;
    box-shadow: 2px 2px 5px blue;
}
#questiondiv button:active {
    background-color: rgb(65, 15, 15);
   

}


#questiondiv button li{
    position: relative;
    left: 20px;
    padding-right: 20px;
    font-size: large;

}

#correct-answer{
    margin-left: 20px;
    font-style: italic;
    border-top: 1px solid gray;
    width: 90%;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
} 



#enterinitial{
    width: 40%;
    height: 30em;
    border: 1px solid gray;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to top, rgb(79, 112, 79),rgb(102, 39, 102),rgb(117, 100, 69));
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    line-height: 2rem;
    color: white; 
    box-shadow: 0px 0px 5px white;
    display: none;
}

#allinitial{
    width: 80%;
    height: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: px solid black;
    box-shadow: 0px 0px 5px white;
    border-radius: 20px;
    background-image: linear-gradient(to left, rgb(94, 79, 79),rgb(59, 40, 40),rgb(68, 21, 29));
}
#displaypoint{
    font-style: italic;
    color: rgb(216, 203, 203);
    margin-top: 20px;
}
#enterinitial button{
    width: 40%;
  justify-content: center;
  margin-top: 10px;
  font-size: large;
  margin-left: 40px;
  height: 35px;
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: grab;
  background-color: rgb(42, 14, 68);
  color: white;
}
#inputlabel{
    margin-right: 110px;
}

label{
    font-style: italic;
    font-size: 25px;
}
input{
    height: 35px ;
    padding-left: 10px;
    font-style: italic;
}


#highscore{
    width: 40%;
    height: 30em;
    border: 1px solid gray;
    color: white;
    margin:  auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 text-align: center;
 justify-content: center;
border-radius: 20px;
 align-items: center;
 background-image: linear-gradient(to right,rgb(80, 44, 80),rgb(78, 44, 44),gray);
display: none;
   
}

#scoreinfo{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(66, 109, 109);
    color: black;
    border-radius: 8px 8px 0 0;
    height: 35px;
    align-items: center;
    box-shadow: 3px 3px 5px gray;
}

#displayinfo{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    border-top: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(111, 79, 141);
    box-shadow: 3px 3px 5px gray;
}

#againbtn button{
    margin: 20px;
    width: 10em;
    height: 3em;
    font-size: large;
    border-radius: 10px;
    border: none;
    color:white;
background-image: linear-gradient(to right, rgb(142, 155, 142), rgb(41, 41, 114))
}

#homepage{
    position: absolute;
    left: 2em;
    top: 19em;
    border-radius: 10px;
    font-size: large;
}

ul{
    line-height: 2em;
}

#highscorelist li{
    border: 0px dashed red;
    background-color: aquamarine;
    width: 50px;
    margin-bottom: 5px;
    margin-top: 7px;
    color: black;
    font-size: large;
    border-radius: 5px 5px 0 0;
}
#initiallist li{
    background-color: aquamarine;
    border-bottom: 2px solid red;
    border-radius: 5px 5px 0 0;
    width: 200px;
    margin-bottom: 5px;
    color: black;
    margin-top: 5px;
}

.error{
    color: red;
}

.success{
    color:green;
}